<div class="base-modal-container">
    <div class="base-modal-header-container">
        <h2 mat-dialog-title [translation]="'COMMON.CHOOSE_ICON'"></h2>
        <span class="base-modal-close-icon" (click)="dialogRef.close()">
            <i class="fa-solid fa-xmark"></i>
        </span>
    </div>
    <div class="base-modal-body-container" *ngIf="iconCategories">
        <button
                *ngFor="let iconDataItem of iconCategories.items; let i=index"
                mat-button [color]="activeIndex === i ? 'primary' : 'secondary'"
                (click)="activeIndex = i">
            {{ iconDataItem.title | translation }} ({{ iconDataItem.icons?.length ?? 0 }})
        </button>

        <ng-container *ngIf="iconCategories?.items?.[activeIndex]">
            <div class="icon-picker-container">
                <div class="icon-picker-item" *ngFor="let icon of iconCategories.items![activeIndex]?.icons">
                    <i [ngClass]="icon.title" (click)="iconSelected(icon.id!)"></i>
                </div>
            </div>
        </ng-container>

    </div>
    <div class="base-modal-actions-container">
        <div class="mat-dialog-actions-container">
            <button mat-button [translation]="'COMMON.CLOSE'" (click)="dialogRef.close()"></button>
        </div>
    </div>
</div>
