<section *ngIf="!!userProject" class="user-project-section">

    <app-common-top-menu type="menuUserProject"
                         (activeTabChanged)="activeTab = $event"></app-common-top-menu>

    <h1 class="user-project-title">{{ userProject.title }}</h1>

    <ng-container *ngIf="activeTab === 0">
        <app-user-project-favorites [userProject]="userProject"
                                    (favoritesChanged)="getUserProjectFromApi()"
        ></app-user-project-favorites>
    </ng-container>

    <ng-container *ngIf="activeTab === 1">
        <app-user-project-expenses [userProject]="userProject"
                                   (expanseChanged)="getUserProjectFromApi()"
        ></app-user-project-expenses>
    </ng-container>

    <ng-container *ngIf="activeTab === 2">
        <app-user-project-planned-expenses [userProject]="userProject"
                                           (plannedExpenseChanged)="getUserProjectFromApi()"
        ></app-user-project-planned-expenses>
    </ng-container>
</section>

