.base-modal {
  &-container {
    padding: 0rem 1rem 1rem 1rem;
  }
  &-body-container {
    padding: 0.5rem;
    max-height: calc(100vh - 15rem);
    overflow-y: auto;
  }
  &-actions-container {
    padding: 0.5rem;
  }
  &-header-container {
    width: 100%;
    position: relative;
  }
  &-close-icon {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    opacity: 0.5;
    cursor: pointer;
  }
}