@media (max-width: 768px) {
  .filter-input-item {
    display: block;
    margin-bottom: 1rem;
  }
}
@media (min-width: 769px) {
  .filter-input {
    &-container {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }
    &-item {
      flex-grow: 1;
    }
  }
}

@media (max-width: 560px) {
  .filter {
    &-button {
      &-container {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
      }
      &-item {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
      }
    }
    &-container {
      margin-bottom: 1rem;
    }
  }
}
@media (min-width: 561px) {
  .filter-button {
    &-container {
      display: flex;
      padding: 1rem 0rem 1rem 0rem;
      gap: 1rem;
      justify-content: space-between;
    }
    &-item {
      display: flex;
      gap: 1rem;
    }
  }
}