.table-wrapper {
  margin-bottom: 20px;
}

.table-container {
  max-width: 100%;
  overflow-x: auto;
  margin: 0 auto 1rem auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

table.mat-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
}

th.mat-th, td.mat-td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

th.mat-th {
  background-color: #3f51b5;
  color: #ffffff;
  font-weight: 500;
}

tr.mat-tr:hover {
  background-color: #f1f1f1;
}

tr {
  border-radius: 8px;
}

@media (max-width: 600px) {
  th.mat-th, td.mat-td {
    padding: 8px;
    font-size: 14px;
  }
}

@media (min-width: 600px) and (max-width: 1024px) {
  th.mat-th, td.mat-td {
    padding: 10px;
    font-size: 16px;
  }
}
.empty-table-message {
  height: 4rem;
  line-height: 4rem;
}

.table-cell-dots {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 12rem;
  height: 1.5rem;
  white-space: nowrap;
}

@media print {
  body * {
    -webkit-print-color-adjust: exact;
  }

  .page-content-wrapper {
    margin: 0 !important;
    border-radius: 0 !important;
    width: 100% !important;
    padding: 0 !important;
    box-shadow: unset !important;
  }

  .section-header {
    border-radius: 0 !important;
  }

  .print-content {
    -webkit-print-color-adjust: exact;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
    z-index: 100002;
  }
}
