.side-menu {
  position: fixed;
  top: 0;
  left: -250px;
  height: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: left 0.3s ease;
  z-index: 1000;
  width: 90%;
  max-width: 20rem;

  &.open {
    left: 0;
  }

  &-header {
    background-image: url('/assets/images/background.jpg');
    background-size: cover;
    background-position: bottom;
    height: 8rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    &-title {
      text-align: center;
      padding: 1rem;
      color: white;
      font-size: 1.5rem;
      font-weight: 100;
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  &-body {
    height: calc(100vh - 14rem);
    overflow-y: auto;

    &-group {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &-item {
      display: flex;
      align-items: center;
      padding: 1rem;
      border-bottom: 1px solid #ddd;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f0f0f0;
      }

      &-icon {
        margin-right: 1rem;
        font-size: 1.5rem;
      }

      &-title {
        flex-grow: 1;
      }

      &-arrow {
        margin-left: auto;
        font-size: 1.2rem;
      }
    }
  }

  &-footer {
    padding: 1rem;
    border-top: 1px solid #dee2e6;

    .t-align-center {
      text-align: center;
    }

    .opacity-07 {
      opacity: 0.7;
    }

    .social-links {
      display: flex;
      justify-content: center;
      gap: 1rem;

      a {
        color: #007bff;
        text-decoration: none;
        display: flex;
        align-items: center;

        i {
          margin-right: 0.5rem;
        }

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}