<div class="base-modal-container">
    <div class="base-modal-header-container">
        <h2 mat-dialog-title [translation]="title"></h2>
        <span class="base-modal-close-icon" (click)="dialogRef.close()">
            <i class="fa-solid fa-xmark"></i>
        </span>
    </div>
    <div class="base-modal-body-container">
        <i class="fa-solid fa-triangle-exclamation warn-icon"></i>
        <ng-container *ngIf="descriptions">
            <p *ngFor="let description of descriptions"
                    [translation]="description"></p>
        </ng-container>
        <div *ngIf="htmlBlock" [innerHTML]="htmlBlock | sanitizeHtml"></div>
    </div>
    <div class="base-modal-actions-container">
        <div class="mat-dialog-actions-container">
            <button mat-button [translation]="noBtn" (click)="dialogRef.close(false)"></button>
            <button mat-flat-button [translation]="yesBtn" color="primary" (click)="dialogRef.close(true)"></button>
        </div>
    </div>
</div>
