<section class="user-project-section">

    <div class="filter-container" *ngIf="filterFormGroup" [formGroup]="filterFormGroup">
        <div class="filter-input-container">
            <div class="filter-input-item">
                <app-input
                        type="input"
                        [label]="'COMMON.SEARCH'"
                        [formGroup]="filterFormGroup"
                        controlName="query">
                </app-input>
            </div>
            <div class="filter-input-item">
                <app-input
                        type="multiselect"
                        [dataItems]="categoriesDataItems"
                        [label]="'COMMON.CATEGORY'"
                        [formGroup]="filterFormGroup"
                        controlName="categoryIds">
                </app-input>
            </div>
            <div class="filter-input-item">
                <app-input
                        type="rangedatapicker"
                        [label]="'COMMON.DATES'"
                        [formGroup]="filterFormGroup"
                        controlName="dateRange">
                </app-input>
            </div>
        </div>
        <div class="filter-button-container">
            <div>
                <div class="filter-button-item">
                    <button mat-flat-button color="warn" [translation]="'EXPENSES.ADD'"
                            (click)="openCreateUpdateExpenseDialog(undefined)"></button>
                </div>
            </div>
            <div>
                <div class="filter-button-item">
                    <button mat-button color="warn" [translation]="'FILTER.RESET'" (click)="resetFilter()"></button>
                    <button mat-flat-button color="primary" [translation]="'COMMON.FILTER.SEARCH'"
                            (click)="getFilteredItems()"></button>
                </div>
            </div>
        </div>
    </div>
    
    <app-generic-table
            *ngIf="!!filteredResult"
            [totalCount]="filteredResult?.totalCount"
            [paginator]="paginator"
            (pageChanged)="pageChanged($event)"
    >
        <ng-container header>
            <ng-container *ngFor="let headerItem of tableHeaderItems">
                <th class="mat-th" *ngIf="!headerItem.isSortable">{{ headerItem.title }}</th>
                <th class="mat-th pointer" *ngIf="headerItem.isSortable && headerItem.column" (click)="sortItems(headerItem.column)">
                    {{ headerItem.title | translation }}
                    <i
                       [ngClass]="{
              'fa-solid': true,
              'fa-arrow-down-wide-short': sort!.direction === directions.Desc,
              'fa-arrow-down-short-wide': sort!.direction === directions.Asc,
              'opacity-07': sort!.column !== headerItem.column
            }"></i>
                </th>
            </ng-container>
        </ng-container>
        <ng-container body>
            <tr class="mat-tr" *ngFor="let entity of filteredResult.entities; let i=index">
                <td class="mat-td"><i class="fa-solid fa-pencil pointer"
                                      (click)="openCreateUpdateExpenseDialog(entity)"></i></td>
                <td class="mat-td"><i class="fa-solid fa-trash pointer" (click)="removeExpense(entity)"></i></td>
                <td class="mat-td">
                <span class="row-item-container">
                    {{ entity.date | localDate:'MMMM dd, yyyy HH:mm' }} <span
                        class="row-subitem">{{ utcTimeShift }}</span>
                </span>
                </td>
                <td class="mat-td">{{ entity.title }}</td>
                <td class="mat-td"
                    [ngClass]="{'error': !categoriesMap?.get(entity.categoryId)?.isPositive, 'success': categoriesMap?.get(entity.categoryId)?.isPositive}">
                    {{ entity.amount | currency:getCurrencyCode(entity.balanceId) }}
                </td>
                <td class="mat-td"><span [translation]="categoriesMap?.get(entity.categoryId)?.title"></span></td>
            </tr>
        </ng-container>
    </app-generic-table>
</section>
