<div #quickActionsContainer
    class="quick-actions-container"
    [ngClass]="{'active': quickActionsOpen}">

    <nav class="quick-actions" *ngIf="!!quickActionsMenu"
         [ngClass]="{'active': quickActionsOpen}">
        <ng-container *ngFor="let action of quickActionsMenu.menuItems">
            <div class="quick-action" (click)="!!action.executableAction && action.executableAction() || !!action.url && goto(action.url)">
                <i [class]="action.icon"></i>
                <span class="quick-action-title">{{action.title | translation}}</span>
            </div>
        </ng-container>

    </nav>

    <div
            class="quick-action-button"
            (click)="toggleQuickActions()"
            [ngClass]="{'active': quickActionsOpen}">
        <i #icon class="fa-solid fa-bolt main-icon"></i>
    </div>
</div>
