<div class="dashboard-container">
    <section *ngIf="userProjects">
        <h1>USER_PROJECTS</h1>
        <mat-divider></mat-divider>
        <div class="user-project-cards">
            <div class="user-project-card" *ngFor="let userProject of userProjects" (click)="openUserProject(userProject.id)">
                <div class="user-project-header">
                    <h3>{{ userProject.title }}</h3>
                </div>
                <div class="user-project-details">
                    <ng-container *ngFor="let balance of userProject.balances">
                        <div class="balance">
                            <span class="currency">{{ currenciesMap?.get(balance.currencyId)?.code }}</span>
                            <span class="amount">{{ balance.amount | currency:currenciesMap?.get(balance.currencyId)?.code }}</span>
                        </div>
                        <div class="currency-title">{{ currenciesMap?.get(balance.currencyId)?.title }}</div>
                    </ng-container>
                </div>
            </div>
            <div class="user-project-card" (click)="openCreateUserProjectDialog()">
                <div class="user-project-header">
                    <div class="user-project-add-container">
                        <div class="user-project-add"><i class="fa-solid fa-plus"></i></div>
                    </div>
                </div>
                <div class="user-project-details">
                    USER_PROJECT.ADD.NEW_PROJECT
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="userAllowedProjects">
        <h1>USER.USER_ALLOWED_PROJECTS</h1>
        <mat-divider></mat-divider>
        <div *ngIf="userAllowedProjects.length === 0" class="no-user-projects">
            <h2>USER_PROJECT.NO_ALLOWED_PROJECTS</h2>
            <p>USER_PROJECT.CREATE_FIRST_ONE</p>
        </div>
        <div *ngIf="userAllowedProjects.length > 0" class="user-project-cards">
            <div class="user-project-card" *ngFor="let allowedProject of userAllowedProjects" (click)="openUserProject(allowedProject.userProjectId)">
                <div class="user-project-header">
                    <h3>{{ allowedProject.userProject.title }}</h3>
                </div>
                <div class="user-project-details">
                    <ng-container *ngFor="let balance of allowedProject.userProject.balances">
                        <div class="balance">
                            <span class="currency">{{ currenciesMap?.get(balance.currencyId)?.code }}</span>
                            <span class="amount" [ngClass]="{'negative': balance.amount < 0}">{{ balance.amount | currency:currenciesMap?.get(balance.currencyId)?.code }}</span>
                        </div>
                        <div class="currency-title">{{ currenciesMap?.get(balance.currencyId)?.title }}</div>
                    </ng-container>

                </div>
            </div>
        </div>
    </section>
</div>

<app-common-loader *ngIf="isBusy"></app-common-loader>