<div class="dashboard-container">
    <section *ngIf="userProjects">
        <div class="content-area">
            <div class="section-header">
                <app-common-favorite title="USER_PROJECTS" [favorite]="false"></app-common-favorite>
            </div>
            <mat-divider></mat-divider>
            <div class="user-project-cards">
                <div class="user-project-card" *ngFor="let userProject of userProjects"
                     (click)="openUserProject(userProject.id)">
                    <div class="user-project-header">
                        <h3>{{ userProject.title | translation }}</h3>
                    </div>
                    <div class="user-project-details">
                        <ng-container *ngFor="let balance of userProject.balances">
                            <div class="currency-title mb-0-0rem">{{ balance.title }}</div>
                            <div class="currency-title mb-0-0rem">{{ balanceTypesMap?.get(balance.balanceTypeId)?.title | translation }}</div>
                            <div class="balance">
                                <span class="currency">{{ currenciesMap?.get(balance.currencyId)?.code }}</span>
                                <span [ngClass]="{'error': balance.amount < 0, 'success': balance.amount >= 0}"
                                >{{ balance.amount | currency:currenciesMap?.get(balance.currencyId)?.code }}</span>
                            </div>
                            <div class="currency-title">{{ currenciesMap?.get(balance.currencyId)?.title }}</div>
                        </ng-container>
                    </div>
                </div>
                <div class="user-project-card" (click)="openCreateUserProjectDialog()">
                    <div class="user-project-header">
                        <div class="user-project-add-container">
                            <div class="user-project-add"><i class="fa-solid fa-plus"></i></div>
                        </div>
                    </div>
                    <div class="user-project-details">
                        <span [translation]="'USER_PROJECTS.ADD'"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section *ngIf="userAllowedProjects">
        <div class="content-area">
            <div class="section-header">
                <app-common-favorite title="USER_PROJECTS.USER_ALLOWED_PROJECTS" [favorite]="false"></app-common-favorite>
            </div>
            <mat-divider></mat-divider>
            <div *ngIf="userAllowedProjects.length === 0" class="no-user-projects">
                <p [translation]="'USER_PROJECTS.NO_USER_ALLOWED_PROJECTS'"></p>
            </div>
            <div *ngIf="userAllowedProjects.length > 0" class="user-project-cards">
                <div class="user-project-card" *ngFor="let allowedProject of userAllowedProjects"
                     (click)="openUserProject(allowedProject.userProjectId)">
                    <div class="user-project-header">
                        <h3>{{ allowedProject.userProject!.title }}</h3>
                    </div>
                    <div class="user-project-details">
                        <ng-container *ngFor="let balance of allowedProject.userProject!.balances">
                            <div class="balance">
                                <span class="currency">{{ currenciesMap?.get(balance.currencyId)?.code }}</span>
                                <span [ngClass]="{'error': balance.amount < 0, 'success': balance.amount >= 0}">{{ balance.amount | currency:currenciesMap?.get(balance.currencyId)?.code }}</span>
                            </div>
                            <div class="currency-title">{{ currenciesMap?.get(balance.currencyId)?.title }}</div>
                        </ng-container>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
