<section *ngIf="!!userProject" class="user-project-section">

    <ng-container *ngTemplateOutlet="favoriteExpenses; context: { isPositive: true }"></ng-container>

    <mat-divider></mat-divider>
    <div class="category-items-container">
        <ng-container *ngIf="userProject?.balances?.length > 0">
            <div class="category-item-container" *ngFor="let balance of userProject.balances; let i=index"
                 (click)="openBalanceDialog(balance)">
                <div
                        draggable="true"
                        (dragstart)="onDragStart($event, balance.id, true)"
                        (dragover)="isDropForBalance && onDragOver($event)"
                        (drop)="isDropForBalance && onDrop($event, balance.id)"
                        class="category-item-icon-container">
                    <i [ngClass]="iconMap?.get(balance.iconId)?.title"></i>
                    <span>{{ currenciesMap?.get(balance.currencyId)?.code }}</span>
                </div>
                <div class="category-item-title">
                    <div [ngClass]="{'error': balance.amount < 0, 'success': balance.amount >= 0}">
                        {{ balance.amount | currency:currenciesMap?.get(balance.currencyId)?.code }}
                    </div>
                    <div>
                        {{ balance.title }}
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="category-item-container" (click)="openBalanceDialog(undefined)">
            <div class="category-item-icon-container">
                <i class="fa fa-plus"></i>
            </div>
            <div class="category-item-title">
            </div>
        </div>
    </div>

    <mat-divider></mat-divider>
    <ng-container *ngTemplateOutlet="favoriteExpenses; context: { isPositive: false }"></ng-container>
</section>

<ng-template #favoriteExpenses let-isPositive="isPositive">
    <div class="category-items-container">
        <ng-container *ngIf="filteredResult?.entities?.length > 0">
            <ng-container *ngFor="let favoriteExpense of filteredResult?.entities; let i=index">
                <div class="category-item-container"
                     *ngIf="categoriesMap?.get(favoriteExpense.categoryId!)?.isPositive === isPositive"
                     (click)="openFavoriteExpenseDialog(favoriteExpense)">
                    <ng-container *ngIf="isPositive else expenseIcon">
                        <div
                                draggable="true"
                                (dragstart)="onDragStart($event, favoriteExpense.id, false)"
                                class="category-item-icon-container">
                            <i [ngClass]="iconMap?.get(favoriteExpense.iconId)?.title"></i>
                            <span>{{ currenciesMap?.get(favoriteExpense.currencyId)?.code }}</span>
                        </div>
                    </ng-container>
                    <ng-template #expenseIcon>
                        <div
                                (dragover)="isDropForExpense && onDragOver($event)"
                                (drop)="isDropForExpense && onDrop($event, favoriteExpense.id)"
                                class="category-item-icon-container">
                            <i [ngClass]="iconMap?.get(favoriteExpense.iconId)?.title"></i>
                            <span>{{ currenciesMap?.get(favoriteExpense.currencyId)?.code }}</span>
                        </div>
                    </ng-template>
                    <div class="category-item-title">
                        <div class="success" *ngIf="favoriteExpense.limit">
                            {{ favoriteExpense.limit ?? 0 | currency:currenciesMap?.get(favoriteExpense.currencyId)?.code }}
                        </div>
                        <div
                             [ngClass]="{'error': (favoriteExpense.limit - favoriteExpense.currentAmount) < 0, 'success': (favoriteExpense.limit - favoriteExpense.currentAmount) >= 0}">
                            {{ favoriteExpense.currentAmount ?? 0 | currency:currenciesMap?.get(favoriteExpense.currencyId)?.code }}
                        </div>
                        <div>
                            {{ favoriteExpense.title }}
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>

        <div class="category-item-container" (click)="openFavoriteExpenseDialog(undefined)">
            <div class="category-item-icon-container">
                <i class="fa fa-plus"></i>
            </div>
            <div class="category-item-title">
            </div>
        </div>
    </div>
</ng-template>