<div class="sky-container">
    <div class="sky">
        <div class="mountains">
            <div class="mountain-1"></div>
            <div class="mountain-2"></div>
            <div class="land-1"></div>
            <div class="land-2"></div>
            <div class="land-3"></div>
        </div>
        <div class="mountains-base"></div>
        <div class="light-base"></div>
        <div class="stars"></div>
        <div class="stars-cross"></div>
        <div class="stars-cross-aux"></div>
    </div>
</div>